.toast {
    position: absolute;
    background-color: white;
}

.toast-body {
    display: flex;
    flex-direction: column;
    gap: $gap;

    border-radius: $border-radius;
    padding: $border-radius;
}

.toast_hidden {
    visibility: hidden;
}
