#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

@media screen and (max-device-width: 640px) {
    #colors {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
    }
}