@import "nullstyles";
@import "variables";
@import "toasts";
@import "inputs";
@import "buttons";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: wrap;
    line-height: 1.5;
}

header, footer {
    padding: 20px;
}

h1 {
    font-size: 24px;
}

main {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    height: 100%;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    > * {
        width: calc(100% / 3 - $gap / 2 * 2 + 1px);
    }
    @media screen and (max-width: 800px) {
        > * {
            width: calc(100% / 2 - $gap / 2);
        }
    }
    @media screen and (max-width: 600px) {
        > * {
            width: 100%;
        }
    }
}

#preview {
    display: flex;
    flex-wrap: wrap;
}
